.category_icon {
  display: flex;
  justify-content: space-between;
}
.catergory_btn:hover {
  background: linear-gradient(98.63deg, #f9a225 0%, #f95f35 100%);
}

.btn:active {
  transform: translate(0, 0.4rem);
}
